.bgblack {
  background-color: #07070e;
}
.txtblack {
  color: black;
}
.bglgray {
  background-color: #c8c8c8;
}
.txtlgray {
  color: #c8c8c8;
}
.bgpurple {
  background-color: #5050b9;
}
.bgviolet {
  background-color: #51518b;
}
.bgwhite {
  background-color: #c0c0dd;
}
.txtwhite {
  color: #c0c0dd;
}
